!!!5
%html
  %head
    %title Food Bistro
    
  %body
    %h6
      Please click on chat button at bottom-right of screen
      %h1
        %script{:src => "https://fobi.io/embed.js"}
        #embed-fobi{"data-bot-title" => "Food Bistro", "data-btn-bg" => "#462066", "data-btn-img" => "https://fobi.io/icon.png", "data-btn-offset" => "Right: 30px", "data-cb-height" => "330px", "data-cb-offset" => "Right: 30px", "data-cb-width" => "400px", "data-ct-bot-img" => "https://fobi.io/head.png", "data-ct-pm" => "#462066", "data-ct-sc" => "#FFF", "data-fobi-id" => "eHrpALJ", "data-hd-bg" => "#462066", "data-hd-ti-clr" => "#FFF"}
       